@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-container {
  background-image: linear-gradient(to right, #ff68c2, #ffdd59);
  min-height: 100vh;
}

/* Navigation Styles */

.nav-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-logo-container {
  display: hidden;
  width: 15%;
}

.nav-menu-section {
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
}

.nav-item {
  font-size: 18px;
  font-weight: 500;
  margin: 8px;
  font-family: "Geneva";
}

.icons-container {
  max-width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.icon {
  width: 18px;
  margin: 8px 8px;
}

/* Responsive Styles */

@media screen and (min-width: 768px) {
  .nav-item {
    font-size: 24px;
  }

  .icon {
    width: 30px;
  }
}

/* Lorem Section Styles */

.top-section-container {
  background-image: url("https://res.cloudinary.com/dmeqhiqbm/image/upload/v1683139991/img1_ipemqn.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info-container {
  background-color: rgba(240, 125, 118, 0.7);
  color: #ffffff;
  box-sizing: border-box;
  padding: 30px 50px 30px 30px;
  margin: 8%;
  width: 80%;
}

.main-heading {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 10px;
}

.main-content {
  font-family: "Roboto";
  font-size: 18px;
}

/* Responsive Styles */

@media screen and (min-width: 768px) {
  .info-container {
    margin: 8%;
    width: 50%;
  }

  .main-heading {
    font-size: 42px;
  }

  .main-content {
    font-size: 24px;
  }
}

/* Order Now Section Styles */

.order-now-heading {
  font-size: 42px;
  text-align: center;
  margin: 40px 0px 20px 0px;
  color: #ffffff;
  font-weight: 900;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive Styles */

@media screen and (min-width: 768px) {
  .order-now-heading {
    font-size: 54px;
    margin: 50px 0px 30px 0px;
    font-family: "Verdana";
  }

  .menu-container {
    padding: 30px;
    flex-direction: row;
    justify-content: space-around;
  }
}

.menu-item-container {
  width: 300px;
  background-color: #ffffff;
  border-radius: 0px 50px 0px 50px;
  padding: 20px;
  margin: 25px;
  overflow: hidden;
}

.menu-img {
  width: 100%;
  height: 300px;
  border-radius: 0px 50px 0px 50px;
  object-fit: cover;
}

.menu-item-heading {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 26px;
  color: #000000;
  text-align: center;
  margin: 10px 0px;
}

.menu-item-description {
  font-family: "Roboto";
  font-size: 18px;
  color: #000000;
  text-align: center;
}

/* Responsive Styles */

@media screen and (min-width: 768px) {
  .menu-item-heading {
    font-size: 30px;
  }

  .menu-item-description {
    font-size: 20px;
  }
}

.btn-container {
  text-align: center;
  padding-bottom: 30px;
}

.order-button {
  padding: 20px 60px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Responsive Styles */

@media screen and (min-width: 768px) {
  .order-button {
    padding: 20px 60px;
    font-size: 26px;
  }
}
